<form [formGroup]="projectForm" (ngSubmit)="onFormSubmit()" class="border border-light p-5" style="min-width:400px; max-width:600px; margin: 0 auto;">
  <p class="h4 mb-4">Add Project</p>

  <div class="md-form">
    <input mdbInput  mdbValidate type="text" id="nam" formControlName="name" class="form-control" maxlength="25">
    <label for="nam" class="">Project name</label>
    <mdb-error *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">Input invalid</mdb-error>
  </div>

  <div class="md-form">
    <input mdbInput  mdbValidate type="text" id="des" formControlName="description" class="form-control" maxlength="50">
    <label for="des" class="">Short description</label>
    <mdb-error *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)">Input invalid</mdb-error>
  </div>

  <div class="md-form">
    <textarea mdbInput  mdbValidate type="fdes" id="fullDescTextArea" formControlName="fullDescription" class="md-textarea md-textarea-auto form-control" maxlength="200"></textarea>
    <label for="fdes">Detailed description</label>
    <mdb-error *ngIf="f.fullDescription.invalid && (f.fullDescription.dirty || f.fullDescription.touched)">Input invalid</mdb-error>
  </div>

  <div class="row">
    <div class="col-md">
        <button mdbBtn (click)="gotoList()" color="warning" block="true" outline="true" mdbWavesEffect>Cancel</button>
    </div>
    <div class="col-md">
        <button mdbBtn color="success" block="true" type="submit" outline="true" mdbWavesEffect>Add</button>
    </div>
  </div>
</form>
